


.flex {
  @include box-flex(1);
}
.fix {

}

/* Lists elements */
.list-divider {
  padding: 5px 10px !important;
  text-transform: uppercase;
}
.badge { padding: $default-badge-spacing !important; }

/* Buttons groupers elements */
.button-group,
.control-group {
  @include setFlexibleBox;
  @include box-flex(0);
  a { @include box-flex(1); }
}

.control-group {
  @include box-align(stretch);
  a {
    margin: 0px 0px 0px -1px !important;
    z-index: 0;
  }
  a.is-active { z-index: 1; }
  &.autoWidth { @include box-flex(1); }
}

.button-group {
  a {
    margin-right: $default-content-spacing;
    &:last-child { margin-right: 0; }
  }
  &.alignVertical {
    @include box-orient(vertical);
    @include box-align(stretch);
    a:not(:last-child) {
      margin-right: 0;
      margin-bottom: $default-content-spacing;
    }
  }
}

/* Progress elements */
.slider {
  overflow: visible;
  margin: 0 3px;
  height: 8px;
  padding: 0;
  .progress {
    position: relative;
    height: 100%;
    width: 50%;
    z-index: 1;
    .circle {
      @include border-radius(100%);
      position: absolute;
      height: 18px;
      width: 18px;
      z-index: 2;
      top: 50%;
      right: -10px;
      margin-top: -10px;
      margin-left: -10px;
      &.mini {
        width: 14px;
        height: 14px;
        right: -10px;
        margin-top: -8px;
        margin-left: -8px;
      }
    }
  }
}

.loader {
  width: 220px;
  height: 10px;
  margin: 0 auto;
  padding: 1px;
  .progress {
    width: 0;
    min-width: 10px;
    max-width: 100%;
    height: 100%;
  }
  * + & {
    margin-top: 5px;
  }
}

/* Form elements */
.toggle-content {
  background-color: #666;
  border: 1px solid #333;
  height: 32px;
  width: 80px;
  position: relative;
  input[type="checkbox"] {
    display: none;
  }
  &:before, &:after { line-height: 32px; color: #fff;}
  &:before {
    content: "ON";
    padding-left: 9px;
  }
  &:after {
    content: "OFF";
    padding-left: 12px;
  }
  label {
    display: block;
    height: 30px;
    width: 40px;
    position: absolute;
    top: 0;
    background-color: #fff;
  }
}










/*
header#{$isNotVertical},
nav#{$isToolbar},
footer#{$isToolbar} {
  a {
    font-size: 12px;
  }
  > a + a {
    margin-left: 0px;
  }
  input[type="search"] {
    @include box-flex(1);
    display: block;
  }
  input[type="search"] + a {
    margin-left: 0 !important;
  }
}


.message {
  i {
    @include inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    TODO: delete, it's only for debug
    @include border-radius(100%);
    border: 3px solid #666;
  }
}
*/

